<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ConnectionString" 
         value="Data Source=TURKAN-PC\SQLEXPRESS;Initial Catalog=CurrencyDataDB;Integrated Security=True"/>
    <add key="Provider" value="System.Data.SqlClient"/>
  </appSettings>
</configuration>